{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    {#GraphTest#}
{% endblock %}

{% block form %}

{% endblock %}

{% block body %}
    <div id="myChart"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ chart|raw }}
{% endblock %}


